
.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
}

.footer {
  /* margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1); */
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  overflow: hidden;
}

.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: white;
  /* color: var(--mantine-color-text); */
  font-size: var(--mantine-font-size-sm);
  text-decoration: none;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    .linkIcon {
      color: var(--mantine-color-text);
    }
  }

  &.active,
  &.active:hover {
    /* background-color: var(--mantine-color-blue-light); */
    background-color: #393939;
    color: white;

    .linkIcon {
      color: white;
    }
  }
}

.control_button{
    width: 100%;
}

.control_group_btn{
    display: flex;
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  /* padding-left: var(--mantine-spacing-md); */
  /* margin-left: var(--mantine-spacing-sm); */
  font-size: var(--mantine-font-size-sm);
  /* color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)); */
  color: white;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    .linkIcon {
      color: var(--mantine-color-text);
    }
  }

  &.link_active,
  &.link_active:hover {
    /* background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);

    .linkIcon {
      color: var(--mantine-color-blue-light-color);
    } */
    background-color: #393939;
    color: white;

    .linkIcon {
      color: white;
    }
  }
}

.sub_link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: 1.7rem;
  font-size: var(--mantine-font-size-sm);
  color: white;
  /* color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)); */
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }

  &.active,
  &.active:hover {
    background-color: #393939;
    color: white;

    .linkIcon {
      color: white;
    }
  }
}

.chevron {
  transition: transform 200ms ease;
}

.linkIcon {
  color: light-dark(var(--mantine-color-white-6), var(--mantine-color-dark-2));
  width: 25px;
  height: 25px;
}


.link_button {
    width: 100%;
  font-weight: 500 !important;
  display: block !important;
  text-decoration: none !important;
  padding: 0 var(--mantine-spacing-md) !important;
  /* padding-left: var(--mantine-spacing-md) !important; */
  /* margin-left: var(--mantine-spacing-sm) !important; */
  font-size: var(--mantine-font-size-sm) !important;
  /* color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)) !important; */
  color: white !important;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0)) !important;
    .linkIcon {
      color: var(--mantine-color-text);
    }
  }
}
