.title {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: var(--mantine-spacing-md);
  font-family: Outfit, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.mobileImage {
  @media (min-width: 48em) {
    display: none;
  }
}

.desktopImage {
  @media (max-width: 47.99em) {
    display: none;
  }
}

.grid_center{
  place-items: anchor-center;
}